<!DOCTYPE html>
<html>

<head>
    <title>GoViewFile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/html/css/bootstrap.min.css">
    <script src="/html/js/jquery-3.0.0.min.js"></script>
    <script src="/html/js/popper.min.js"></script>
    <script src="/html/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h2>GoViewFile</h2>
    <p>临时文件预览服务，不定时清除文件</p>
    <body>
    <div style="color: #a71d2a">{{.Msg}}</div>
    </body>
    <br><br>
</div>

</body>

</html>